<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240207690144-s00uskamsov5itu197rdc33u8168igbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240207690144-s00uskamsov5itu197rdc33u8168igbk</string>
	<key>API_KEY</key>
	<string>AIzaSyAphry2DScZgNfZBY4qFqSu36wOa0XPBiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>240207690144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-2c2ce</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-2c2ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240207690144:ios:53e35975f1460467d18cc5</string>
</dict>
</plist>